/* styles.css */
.cart-page {
  display: grid;
  place-items: center;
  height: 100vh; 
  width: 100vw; 
 }

.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.cart-item {
  margin: 10px;
  width: calc(100% / 5 - 20px); 
}

.item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  height: 250px; 
  overflow: hidden; 
}

.cart-item-image {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  margin-bottom: 10px;
  align-items: right;
}

.payment-button {
  background-color: gray; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  width: 100px;
 }
 
 .payment-button:hover {
  background-color: green;
 }

.large-box {
  margin-top: 20px;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CartPage.css */
.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
 }

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 6000%; 
 }

 .summary-item .item-details {
  display: flex;
  align-items: left;
 }
 
 .summary-item .item-image {
  margin-left: 100px;
 }
 
 .summary-item hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
 }

 .large-box {
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Adjust the maximum width as needed */
  text-align: center; /* Center text within the box */
 }