/* styles.css */
.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/* styles.css */
.cart-item {
  margin: 10px;
  width: calc(100% / 5 - 20px); /* Adjust based on your grid layout */
  /* For example, if you want 5 items per row */
}


.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  height: 250px; /* Adjusted height */
  overflow: hidden; /* To ensure the image doesn't overflow */
}

.cart-item-image {
  width: 100px; /* Adjusted width */
  height: 100px; /* Adjusted height */
  object-fit: cover;
  margin-bottom: 10px;
}

.payment-button {
  margin-top: 20px;
  background-color: gray;
}

.payment-button:hover {
  background-color:green;
}

.custom-payment-button {
  background-color: gray; /* Example color */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }
 
 .custom-payment-button:hover {
  background-color: green; /* Darker shade for hover effect */
 }

.large-box {
  margin-top: 20px;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}